
#input_and_chart_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#input_container {
  width: 480px;
  height: 700px;
  background-color: #b1dae7;
}

#chart_container {
  width:calc(100% - 480px);
  height: 700px;
  background-color: #d8ecf3;
}

@media only screen and (max-width: 1024px) {

  #input_and_chart_container {
    flex-direction: column;
  }

  #input_container {
    height: 500px;
    margin-bottom: 6px;
  }

  #chart_container {
    width: 100%;
    align-self: flex-start;
  }
}

@media only screen and (max-width: 600px) {

  #input_container {
    width: 450px;
    height: 500px;
  }

}
