:host {
  display:flex;
  flex-wrap: wrap;
}

#location_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.location {
  margin: 0px 6px 6px 6px;
  background-color: #ebf6f9;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

/* CSS spinner code starts here */

#spinner {
  display: none;
  /*display: inline-block;*/
  position: absolute;
  left: calc(50% - 90px);
  top: 30%;
  z-index: 100;
}

@keyframes spin {
  to { transform: rotate(1turn); }
}

.progress {
  /*position: relative;*/
  /*display: inline-block;*/
  width: 5em;
  height: 5em;
  /*margin: 0 .5em;*/
  margin: auto;
  font-size: 34px;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1s infinite steps(8);
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em; /* (container width - part width)/2  */
  width: .5em;
  height: 1.5em;
  border-radius: .2em;
  background: #ccc;
  box-shadow: 0 3.5em #ccc; /* container height - part height */
  transform-origin: 50% 2.5em; /* container height / 2 */
}

.progress:before {
  background: #555;
}

.progress:after {
  transform: rotate(-45deg);
  background: #777;
}

.progress > div:before {
  transform: rotate(-90deg);
  background: #999;
}

.progress > div:after {
  transform: rotate(-135deg);
  background: #bbb;
}

/* CSS spinner code ends here */
