:host {
  width:calc(100% - 480px);
  height: 700px;
  background-color: #d8ecf3;
  position: relative;
}

.date_switch_arrow {
  width: 25px;
}

.date_switch_arrow:hover {
  cursor: pointer;
  fill: white;
}

#top_container {
  display: flex;
}

#chart_date_selectors {
  width: 550px;
}

#chart_title_container {
  width: calc(100% - 550px);
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #6f7171;
  text-align: center;
}

.radio_button_line {
  width: 550px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2px;
}

.hyphen {
  margin-left: 5px;
  margin-right: 5px;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

.label {
  cursor: pointer;
}

.label:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1300px) {

  #chart_title_container {
    display: none;
  }

}

@media only screen and (max-width: 1024px) {

  :host {
    width: 100%;
    align-self: flex-start;
  }
}
