<div *ngIf="data.length > 0" id="top_container">
  <div id="chart_date_selectors">
    <div
      class="radio_button_line"
      [ngStyle]="singleDateChartSelected && { border: '2px solid gray' }"
    >
      <label class="label">
        <input
          type="radio"
          value="1"
          name="chart_type"
          [(ngModel)]="singleDateChartSelected"
          (ngModelChange)="onRadioChange()"
        />
        <span>Näytä yhden päivän graafi:</span>
      </label>
      <wc-arrow
        class="date_switch_arrow"
        l="22"
        w="22"
        rot="180"
        tail-l="0"
        (click)="prevDate('Date')"
      >
      </wc-arrow>
      <select [(ngModel)]="selected.Date" (change)="onSingleDateChange()">
        <option disabled hidden value="undefined">Valitse pvm</option>
        <option *ngFor="let date of dates" value="{{ date }}">{{
          date
        }}</option>
      </select>
      <wc-arrow
        class="date_switch_arrow"
        l="22"
        w="22"
        tail-l="0"
        (click)="nextDate('Date')"
      >
      </wc-arrow>
    </div>
    <div
      class="radio_button_line"
      [ngStyle]="!singleDateChartSelected && { border: '2px solid gray' }"
    >
      <label class="label">
        <input
          type="radio"
          value=""
          name="chart_type"
          [(ngModel)]="singleDateChartSelected"
          (ngModelChange)="onRadioChange()"
        />
        <span>Näytä aikajakson graafi:</span>
      </label>
      <wc-arrow
        class="date_switch_arrow"
        l="22"
        w="22"
        rot="180"
        tail-l="0"
        (click)="prevDate('Date_1')"
      >
      </wc-arrow>
      <select [(ngModel)]="selected.Date_1" (change)="onDateSpanChange()">
        <option disabled hidden value="undefined">Valitse pvm</option>
        <option *ngFor="let date of dates" value="{{ date }}">{{
          date
        }}</option>
      </select>
      <wc-arrow
        class="date_switch_arrow"
        l="22"
        w="22"
        tail-l="0"
        (click)="nextDate('Date_1')"
      >
      </wc-arrow>
      <span class="hyphen">
        -
      </span>
      <wc-arrow
        class="date_switch_arrow"
        l="22"
        w="22"
        rot="180"
        tail-l="0"
        (click)="prevDate('Date_2')"
      >
      </wc-arrow>
      <select [(ngModel)]="selected.Date_2" (change)="onDateSpanChange()">
        <option disabled hidden value="undefined">Valitse pvm</option>
        <option *ngFor="let date of dates" value="{{ date }}">{{
          date
        }}</option>
      </select>
      <wc-arrow
        class="date_switch_arrow"
        l="22"
        w="22"
        tail-l="0"
        (click)="nextDate('Date_2')"
      >
      </wc-arrow>
    </div>
  </div>
  <div id="chart_title_container">
    {{ location }}
    <br/>
    {{
      singleDateChartSelected
        ? (selected.Date | formatDate)
        : (selected.Date_1 | formatDate) + " - " + (selected.Date_2 | formatDate)
    }}
  </div>
</div>

<div *ngIf="barChartData.length">
  <div style="display: block;">
    <canvas
      baseChart
      width="300"
      height="600"
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
</div>

<div *ngIf="lineChartData.length">
  <div style="display: block;">
    <canvas
      baseChart
      width="300"
      height="600"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
    ></canvas>
  </div>
</div>
