<div
  class="row_main w_table_width"
  [ngClass]="{ redborder: del_button_hover === 0 ? false : true }"
>
  <div
    class="invalid_date_indicator"
    [ngStyle]="(!data.uniq_date || !data.valid_date) && { display: 'flex' }"
  >
    {{!data.uniq_date ? "Korjaa duplikaatti pvm!" : data.empty_date ? "Lisää puuttuva pvm!" : "Korjaa virheellinen pvm!"}}
  </div>
  <div
    class="row_sub w_date_width"
    [ngClass]="{ redbackground: data.valid_date === true ? false : true }"
  >
    <input
      [ngModel]="data.date"
      (keyup.enter)="updateDate($event)"
      (blur)="updateDate($event)"
      placeholder="pp.kk.vvvv"
      type="text"
      class="date_input"
      maxlength="12"
    />
    <div
      ngDefaultControl
      id="calendar_button"
      (ngModelChange)="updateDatepickerDate($event)"
      [ngModel]="data.date"
      [dpDayPicker]="datepicker_config"
      theme="dp-material"
    >
      <span [innerHTML]="calendar_icon"></span>
    </div>
  </div>

  <div
    class="row_sub w_temperature_width"
    [ngClass]="{
      redbackground: data.valid_temperature === true ? false : true
    }"
  >
    <input
      tooltip="{{ temp_tooltip }}"
      [options]="tt_opt"
      [ngModel]="data.temperature"
      (input)="updateTemperature($event)"
      placeholder=""
      type="number"
      step="1"
      min="-70"
      max="70"
      class="temperature_input"
      maxlength="5"
    />
  </div>

  <div
    class="row_sub w_rainfall_width"
    [ngClass]="{ redbackground: data.valid_rainfall === true ? false : true }"
  >
    <input
      tooltip="{{ value_tooltip }}"
      [options]="tt_opt"
      [ngModel]="data.rainfall"
      (input)="updateRainfall($event)"
      placeholder=""
      type="number"
      step="1"
      min="0"
      max="50"
      class="number_input"
      maxlength="5"
    />
  </div>

  <div
    class="row_sub w_wind_speed_width"
    [ngClass]="{ redbackground: data.valid_wind_speed === true ? false : true }"
  >
    <input
      tooltip="{{ value_tooltip }}"
      [options]="tt_opt"
      [ngModel]="data.wind_speed"
      (input)="updateWindSpeed($event)"
      placeholder=""
      type="number"
      step="1"
      min="0"
      max="50"
      class="number_input"
      maxlength="5"
    />
  </div>

  <div class="row_sub w_delete_row_width">
    <img
      tabindex="0"
      tooltip="{{ remove_tooltip }}"
      [options]="tt_opt"
      id="del_button_img"
      src="assets/delete-button.png"
      (click)="delete()"
      (keyup.enter)="delete()"
      (mouseover)="mouseover()"
      (mouseout)="mouseout()"
    />
  </div>
</div>
