<div *ngIf="location">
  <div id="main_container">
    <button type="button" (click)="addNew(); w_table_ref.scrollTop = 0">
      Lisää uusi rivi
    </button>
    <button
      type="button"
      (click)="orderLines()"
    >
      Järjestä rivit
    </button>
    <div id="w_table_header_main">
      <div class="w_table_header_sub w_date_width">
        Päivämäärä
      </div>
      <div class="w_table_header_sub w_temperature_width">
        Lämpötila<br />&deg;C
      </div>
      <div class="w_table_header_sub w_rainfall_width">
        Sademäärä<br />mm/vrk
      </div>
      <div class="w_table_header_sub w_wind_speed_width">
        Tuulen nopeus<br />m/s
      </div>
      <div class="w_table_header_sub" style="width: 60px;"></div>
    </div>
    <div id="w_table_container" #w_table_ref>
      <div *ngIf="data.length === 0 && dataLoaded" id="no_data">
        Säätiedot puuttuvat!<br />Lisää säätieto Lisää uusi rivi -painikkeesta!
      </div>
      <app-table-row *ngFor="let x of data" [data]="x"></app-table-row>
    </div>
  </div>
</div>
