* {
  font-family: Arial, Helvetica, sans-serif;
}

select:hover, button:hover{
  cursor: pointer;
}

.w_table_width {
  width: 440px;
}

.w_date_width {
  width: 130px;
}

.w_temperature_width {
  width: 90px;
}

.w_rainfall_width {
  width: 90px;
}

.w_wind_speed_width {
  width: 90px;
}

.w_delete_row_width {
  width: 40px;
}
